<header class="header">
    <div class="header-inner">
        <span><a href="http://localhost:3000/main">๋ก๊ณ</a></span>
        <span>
            <form action="/search" method="get" class="search-form">
                <input type="text" name="q" placeholder="๊ฒ์..." />
            </form>
        </span>

        <% if (user) { %>
        <!-- ๐ฅ ๋ชจ๋ฌ์ ์ด๊ธฐ ์ํ ๋ฒํผ -->
        <div id="userMenuBtn" class="user-menu-btn">
            <%= user.nickname %>๋ โพ
        </div>
        <% } else { %>
        <span><a href="/login">๋ก๊ทธ์ธ</a></span>
        <% } %>
    </div>
</header>

<!-- ๐ฅ ๋ก๊ทธ์ธ ์์์๊ฒ๋ง ๋ชจ๋ฌ/์ค๋ฒ๋์ด ํ์ -->
<% if (user) { %>
<div id="userMenuOverlay" class="user-menu-overlay hidden"></div>

<div id="userMenuModal" class="user-menu-modal hidden">
    <div class="user-menu-header">
        <span class="user-menu-name"><%= user.nickname %></span>
    </div>
    <div class="user-menu-body">
        <a href="/mynovel" class="user-menu-item">๋ด ์ํ</a>
        <a href="/logout" class="user-menu-item logout">๋ก๊ทธ์์</a>
    </div>
</div>
<% } %>
